<%= link_to product_cart_products_path(product_id: product.id), 
            class: "btn btn-primary",
            id: "add-product-#{product.id}",
            method: :post,
            remote: true do %>
  <i class="fa fa-cart-plus"></i>
  Ajouter au panier
<% end %>