<%= link_to product_cart_product_path(product_id: cart_product.product.id, id:cart_product.id),
            id: "add-product-#{cart_product.product.id}",
            class: "btn btn-primary",
            method: :delete,
            remote: true do %>
  <i class="fa fa-trash-alt"></i>
  Enlever du panier
<% end %>