console.log("/cart_product/create.js.erb file");

$('#add-product-<%= @product.id %>').get(0)
.outerHTML="<%= j render 'destroy_btn', cart_product: @cart_product %>";

$('#checkout_items').get(0).style.display='block'
$('#checkout_items').get(0).innerHTML="<%= j render 'layouts/nav_span' %>";
