console.log("/cart_product/destroy.js.erb file")

$('#add-product-<%= @product.id %>').get(0)
.outerHTML="<%= j render 'create_btn', product: @product %>"

nbItem = $('#nb_checkout_items').get(0);
if (parseInt($('#checkout_items').get(0).innerHTML) === 1){
  $('#checkout_items').get(0).style.display='none'
} else {
  $('#checkout_items').get(0).style.display='block'
  $('#checkout_items').get(0).innerHTML="<%= j render 'layouts/nav_span' %>";
}
