<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    
    <h2>Recevoir les instructions de confirmation</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field from-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div><br />

        <div class="actions">
          <%= f.submit "Recevoir les instructions", class: "btn btn-outline-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>