<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    
    <h2>Éditer mon compte</h2><br>
    <h4>Informations personnelles</h4><br>

      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div><br/>

        <div class="field form-group">
          <%= f.label 'Pseudonyme' %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
        </div><br/>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group">
          <%= f.label "Nouveau mot de passe" %> <i>(Laisser vide pour ne pas changer le mot de passe actuel)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div><br/>

        <div class="field form-group">
          <%= f.label "Valider le nouveau mot de passe" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div><br/>

        <div class="field form-group">
          <%= f.label "Mot de passe actuel" %> <i>(requis pour toutes modifications)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div><br/>

        <div class="actions">
          <%= f.submit "Mettre à jour", class: "btn btn-outline-primary btn-block" %>
        </div><br/><br/><hr>
      <% end %>

      <h3>Supprimer mon compte</h3>

      <p> <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Casse toi pov con" }, method: :delete, class: "btn btn-outline-danger btn-block" %></p>

      <%= link_to "Précédent", :back %>

    </div>
  </div>
</div>