<br/><br/><br/>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h2>S'enregistrer</h2><br />

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label "Pseudonyme" %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
        </div><br />
        
        <div class="field form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div><br />

        <div class="field form-group">
          <%= f.label "Mot de passe" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div><br />

        <div class="field form-group">
          <%= f.label "Confirmation" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div><br />

        <div class="actions">
          <%= f.submit "S'enregistrer", class: "btn btn-outline-primary btn-block" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>


    </div>
  </div>
</div>