<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.username %> !</h1>
    <p>
      Ta dernière commande à bien été validée.
      <%= render 'users/products_table_for_order', order: @order, index: 0 %>
    </p>
    <p> À très vite sur ekitty.fr !
  </body>
</html>
