<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.username %> et bienvenue sur Ekitty !</h1>
    <p>
      Tu t'es inscrit sur ekitty en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p> À très vite sur ekitty.fr !
  </body>
</html>
