<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>

    <% @user.carted_products.each do |product| %>
      <tr>
        <th><%= product.name %></th>
        <td><%= product.description %></td>
        <td><%= product.price_in_euro %></td>
      </tr>
    <% end %>
   
  </tbody>
</table>
