<h2>Editer mon compte</h2><br>
    <h4></h4>


      <%= form_with model: @user, url: user_path  do |f| %>

      <div class="form-group">
        <%= f.label "Pseudonyme" %>
        <%= f.text_field :username, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Nom de facturation" %>
        <%= f.text_field :bill_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Adresse de facturation" %>
        <%= f.text_field :bill_address, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <div class="form-row">
          <div class="col-9">
            <%= f.label "Ville" %>
            <%= f.text_field :bill_city, class:"form-control", placeholder: "City"%>
          </div>
          <div class="col">
            <%= f.label "Code postal" %>
            <%= f.text_field :bill_zip, class:"form-control", placeholder: "ZIP"%>
          </div>
        </div>
      </div>
      
      <div class="field form-group">
        <%= f.label "Mot de passe" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label "Confirmation" %>
        <%= f.password_field :password_confirmation, autocomplete: "password confirmation", class: "form-control" %>
      </div>
      
      <br>

      <div class="actions">
        <%= f.submit "Mettre à jour", class: "btn btn-outline-primary btn-block" %>
      </div>

      <% end %><hr><br>