<div class="card-header" id="headingTwo">
  <h5 class="mb-0">
    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Historique des achats
    </button>
  </h5>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
  <div class="card-body">
    <table class="table table-hover">
      <% @user.orders.each_with_index do |order, index| %>
        <tr>
          <td>
            <%= render 'users/products_table_for_order', order: order, index: index %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
