<table class="table table-striped table-hover">
  <thead>
    <tr >
      <th colspan="2">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#order<%= order.id %>">
          <%= index + 1%>. Commande passée le <%= order.created_at.strftime('%D')%> à <%= order.created_at.strftime('%T') %>
        </button>
      </th>
    </tr>
  </thead>
  <tbody id="order<%= order.id %>" class="collapse">
    <tr>
      <td>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Description</th>
              <th scope="col">Prix</th>
            </tr>
          </thead>
          <tbody>
            <% order.products.each do |product| %>
              <tr>
                <th><%= product.name %></th>
                <td><%= product.description %></td>
                <td><%= product.price_in_euro %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
