<br/><br><br />
<div class="container">
	<div class="row well">

      <div class="w-100" id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Panier
              </button>
              <%= link_to carts_path do %>
                <button class="btn btn-outline-success float-right">Confirmer</button>
              <% end %>

            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

              <%= render 'carted_products_list'%>

            </div>
          </div>
        </div>
        <div class="card">
					<%= render 'ordered_products_list' %>
        </div><br><br>


		<div class="col-md-6 offset-md-3">
    <%= render 'edit_form' %>
    <a href="/users/edit"><button class="btn btn-outline-danger btn-block">Paramètres de connexion</button></a>

    </div>
  </div>
</div>
