<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h2>Mot de passe oublié?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <%= f.label "Pseudonyme ou email" %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control"%>
        </div><br />

        <div class="actions">
          <%= f.submit "Recevoir les instructions", class: "btn btn-outline-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>