

<%= form_tag orders_path, method: :post do %>             <%# Modifier le path  pour supprimer la carte et créer un order%>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
  <div class="form-group">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Payer mon panier"
      data-amount= "<%= amount %>"
      data-currency = "eur"
      data-locale="auto"
      data-label="Payer par carte : <%= amount.to_f / 100%>€"></script>
  </div>
<% end %>
