<%= render "products/cards", products: current_user.carted_products %>

<div id="stripe_btn">
  <% if current_user.total_cart_price != 0 %>
    <%= render 'stripe', amount: current_user.total_cart_price %>
  <% end %>
</div>
<div class="w-100" id="accordion">
  <%= render "users/ordered_products_list"%>
</div>
