<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    
      <h2>Se connecter</h2><br />

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label "Pseudonyme ou email" %>
          <%= f.text_field :login, autofocus: true, autocomplete: "login", class: "form-control" %>
        </div><br />

        <div class="field form-group">
          <%= f.label "Mot de passe" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div><br />

        <% if devise_mapping.rememberable? %>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label "Member ?" %>
          </div><br />
        <% end %>

        <div class="actions">
          <%= f.submit "Se connecter", class: "btn btn-outline-primary btn-block" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>