<% if !product.in_cart?(current_user) %>

  <%= link_to product_cart_products_path(product), 
              class: "btn btn-primary",
              id: "add-product-#{product.id}",
              method: :post,
              remote: true do %>
    <i class="fa fa-cart-plus"></i>
    Ajouter au panier
  <% end %>

<% else %>

  <%= link_to product_cart_product_path(product_id: product.id, id: current_user.cart_product(product).id),
              method: :delete,
              id: "add-product-#{product.id}",
              class: "btn btn-primary",
              remote: true do %>
    <i class="fa fa-trash-alt"></i>
    Enlever du panier
  <% end %>

<% end %>