<div class="ml-2 mr-2">
  <div class="row justify-content-center">
    <% products.each_with_index do |product, index| %>
        <div class="card col-2 m-2 product-item">
          <div class="h-100">
          <%= link_to product do %>
              <%= image_tag product.image_handler,
              class: "card-img-top img-fluid",
              alt: "photo_" + product.name%>
          <% end %>
        </div>
          <div class="card-body product_info">
            <h6 class="card-title"><%= link_to product.name, product %></h6>
            <div class="product_price ml-auto mr-auto">
              <%= (product.price_in_euro)  %>
            </div>
          </div>
          
          <% if user_signed_in? %>
            <%= render 'products/add_remove_product_button', product: product %>
          <% end %>

        </div>
    <% end %>
  </div>
</div>
