<div class="">

  <%= form_with(model: product, local: true, multipart: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :price %>
      <%= form.number_field :price, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :image %>
      <%= form.file_field :image,
      accept: 'image/png,image/jpeg,image/gif',
      class:"" %>
    </div>

    <div class="actions">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  <% end %>

</div>
