<p id="notice"><%= notice %></p>

<h2>
  <%= @product.name %>
</h2>

<%= image_tag @product.image_handler,
class: "preview",
alt: "photo_" + @product.name %>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @product.price_in_euro %>
</p>

<% if user_signed_in? %>
  <%= render 'add_remove_product_button', product: @product %>
<% end %>
