<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<%= link_to root_path do %>
								E<span>kitty</span>
							<% end %>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
								<li>
									<%= link_to products_path do %>
										Catalogue
									<% end %>
								</li>
							</ul>

							<ul class="navbar_user">


								<% if user_signed_in? && current_user.admin %> <!--&& user.is_admin?-->
									<li class="">
										<%= link_to admins_path do %>
											<i class="fa fa-cog" aria-hidden="true"></i>
										<% end %>
									</li>
								<% end %>

								<li>
									<div class="dropdown show">
									  <a class="dropdown-toggle"
										href="#" role="button" id="dropdownMenuLink"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
									    <i class="fa fa-user" aria-hidden="true"></i>
									  </a>

									  <div class="dropdown-menu dropdown-menu-right"
										aria-labelledby="dropdownMenuLink">
											<% if user_signed_in? %>
												<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
												<%= link_to 'Edit info', user_path(current_user) %>
											<% else %>
												<%= link_to 'Log in', new_user_session_path %>
												<%= link_to 'Sign up', new_user_registration_path %>
											<% end %>
									  </div>
									</div>
								</li>

								<% if user_signed_in? %>
									<li class="checkout">
										<%= link_to carts_path do %>
											<i class="fa fa-shopping-cart" id="nb_checkout_items" aria-hidden="true"></i>

											<% if current_user && current_user.carted_products.count > 0 %> <%# article? display ! %>
												<span id="checkout_items" class="checkout_items" style="display: block;">
													<%= current_user.carted_products.count %>
												</span>
                      <% else %> <%# no article, no display %>
                        <span id="checkout_items" class="checkout_items" style="display: none;">
													<%= current_user.carted_products.count %>
												</span>
											<% end %>
                      
										<% end %>
									</li>
								<% end %>

							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
